<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="ie.kevinboyle.cordova.speech.Speech"
        version="0.0.1">

    <name>Speech</name>
    <description>Use Windows Phone TTS</description>
    <license>Apache 2.0</license>
    <keywords>cordova</keywords>

    <!-- wp8 -->
    <platform name="wp8">
        <js-module src="www/speech.js" name="speech">
            <clobbers target="speech" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="ie.kevinboyle.cordova.speech.Speech">
                <param name="wp-package" value="ie.kevinboyle.cordova.speech.Speech"/>
            </feature>
        </config-file>

        <source-file src="src/wp/Speech.cs" />
    </platform>
</plugin>